 @import "../../global.scss";


.portfolioList{
  font-size: 15px;
  margin: 50px;
  padding: 7px;
  border-radius: 13px;
  cursor: pointer;
  overflow: hidden;

  &.active{
    background-color:$primaryColor;
    color: white;
    overflow: hidden;
  }


}
